

.text-body p{
  font-family: 'Consolas';
  line-height: 1em;
  font-size: 16px;
  width: 50em;
  color: #0fe10f;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(40, end);
  animation: type 5s steps(40, end);
}

.text-body p:nth-child(2) {
	line-height: 1em;
  	color:white;
  white-space: nowrap;
  overflow: hidden;
  margin-top:0px;
  opacity: 0;
  -webkit-animation: type 0s steps(40, end);
  animation: type2 0s steps(40, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}



@keyframes type {
  from {
    width: 0;
  }
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}

span .cursor {
  content:'|';
  animation: blink 1s infinite;
}

@keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.event{
	color: #f1f1f1;
}
.event__content small{
	color: #ff9311;
}
.snow-container
  position: absolute
  height: 500px
  width: 100%
  max-width: 100%
  top: 0
  overflow: hidden
  z-index: 2
  pointer-events: none
  background-color: red

.snow
  $foreground-speed: 15s
  $middleground-speed: 20s
  $background-speed: 30s
  display: block
  position: absolute
  z-index: 2
  top: 0
  right: 0
  bottom: 0
  left: 0
  pointer-events: none
  transform: translate3d(0,-100%,0)
  animation: snow linear infinite
  &.foreground
    background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png')
    animation-duration: $foreground-speed
    &.layered
      animation-delay: $foreground-speed/2
  &.middleground
    background-image: image-url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png')
    animation-duration: $middleground-speed
    &.layered
      animation-delay: $middleground-speed/2
  &.background
    background-image: image-url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png')
    animation-duration: $background-speed
    &.layered
      animation-delay: $background-speed/2

@keyframes snow
  0%
    transform: translate3d(0,-100%,0)
  100%
    transform: translate3d(15%,100%,0)

